<!-- Main Section -->
<section id="main-section">
    <!-- Moto-Animation -->
    <div id="animi">
      <p id="moto_an">&lt;/&gt;welcome to online shop</p>
    </div>

    <!-- Slide-Show Animation -->
    <div class="wrapper">
      <div
        style="
          border-radius: 5px;
          background-image: url(https://png.pngtree.com/back_origin_pic/03/65/01/3bc3dbe72018ecfe76f0699405309178.jpg);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://th.bing.com/th/id/R.7573ff1dac054a0d6c36040acf4171dd?rik=HEtOSVzsXB4v4Q&riu=http%3a%2f%2feskipaper.com%2fimages%2fshopping-wallpaper-hd-1.jpg&ehk=WrBp0nrOb1HFCZwxPlSkMIC1gks5TSMWpkLd2RElMQ4%3d&risl=&pid=ImgRaw&r=0);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://besthqwallpapers.com/img/original/122727/online-shopping-monochrome-online-business-concepts-online-store-concepts-laptop.jpg);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://wallpapercave.com/wp/wp7566498.jpg);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://wallpaperaccess.com/full/2484120.jpg);
        "
      ></div>
    </div>
    <!-- Slide-Show Ends -->
<!-- Message -->
<div id="message-division">
  <h2 id="message" style="word-break: normal; word-spacing: 2px; letter-spacing: 1px;">
    If you are a programmer, coder, software developer, or simply a tech
    enthusiast, then you're on the right place! We offer tech designs and
    humour in clothing and accessories to make<h2 style="padding-left: 360px;color: #6754e2; ">your working day special!</h2>
</h2>
</div>

<!-- Product Slider -->
<div class='demo-container'>
<h5 id="most-popular">MOST POPULAR</h5>
<h3 id="popular-sweatshirts">Popular Sweatshirts</h3>
<div class='carousel'>
  <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1' name='carousel' type='radio'>
  <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel' type='radio'>
  <input class='carousel__activator' id='carousel-slide-activator-3' name='carousel' type='radio'>
  <div class='carousel__controls'>
    <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-2' style="font-size: 2em; padding-bottom: 10px;">
     &raquo;
    </label>
  </div>
  <div class='carousel__controls'>
    <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-1' style="font-size: 2em; padding-bottom: 10px;">
      &laquo; <!-- For  Symbol    "<< ""          -->
    </label>
    <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-3' style="font-size: 2em; padding-bottom: 10px;">
     &raquo;   <!-- For Symbol  " <<"-->
    </label>
  </div>
  <div class='carousel__controls'>
    <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-2' style="font-size: 2em; padding-bottom: 10px;">
      &laquo;
    </label>
  </div>
  <div class='carousel__screen'>
    <div class='carousel__track'>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
         <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-black-front-602eb03e6ed07_540x.jpg?v=1613672519" style="padding-bottom:50px ; " width="100%" alt="">
        </div>
        <a href="https://developer-shop.com/"><h5 class="hoverme" style="padding-top: 320px; color: rgb(5, 5, 5); position: absolute; left: 30%; font-size: large;">"ANGULAR" Sweatshirt <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></u></h5></a>
      </div>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
          <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-navy-front-602e994035d87_540x.jpg?v=1613666632" style="padding-bottom:50px ; "  width="100%" alt="">
        </div>
        <h5 class="hoverme" style="padding-top: 320px; color: rgb(3, 3, 3); position: absolute; left: 56.5%; font-size: large;">"REACT" Sweatshirt <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></u></h5>
      </div>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
          <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-indigo-blue-front-602e9c306de44_540x.jpg?v=1613667390" style="padding-bottom:50px ; "  width="100%" alt="">
        </div>
        <h5 class="hoverme" style="padding-top: 320px; color: rgb(5, 5, 5); position: absolute; left: 81%; font-size: large;">"DOCKER" Sweatshirt <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></u></h5>
      </div>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
          <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-sport-grey-front-602e9b08620f4_360x.jpg?v=1613667087" style="padding-bottom:50px ; "  width="100%" alt="">
        </div>
        <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 4.5%; font-size: large;">"JAVASCRIPT" Sweatshirt <br><u><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></u></h5>
      </div>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
          <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-maroon-front-602fa986e631a_540x.jpg?v=1613736333" style="padding-bottom:50px ; "  width="100%" alt="">
        </div>
        <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 104%; font-size: large;">&nbsp;"SUDO&nbsp;BRING"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
      </div>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
          <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-dark-heather-front-602fa9eb71f26_360x.jpg?v=1613736435" style="padding-bottom:50px ; "  width="100%" alt="">
        </div>
        <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 129.5%; font-size: large;">&nbsp;"SUDO&nbsp;GET"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
      </div>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
          <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-sport-grey-front-602e9e02655ef_360x.jpg?v=1613667850" style="padding-bottom:50px ; "  width="100%" alt="">
        </div>
        <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 151.5%; font-size: large;">&nbsp;"INTERNET&nbsp;EXPLORER"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
      </div>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
          <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-white-front-602e9edb2c35d_360x.jpg?v=1613668067" style="padding-bottom:50px ; "  width="100%" alt="">
        </div>
        <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 182%; font-size: large;">&nbsp;"VUE"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
      </div>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
          <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-black-front-602ea0a869156_360x.jpg?v=1613668534" style="padding-bottom:50px ; "  width="100%" alt="">
        </div>
        <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 203%; font-size: large;">&nbsp;"CODE-&nbsp;BREAKER"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
      </div>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
          <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-dark-heather-front-602e99e27ebeb_360x.jpg?v=1613666795" style="padding-bottom:50px ; "  width="100%" alt="">
        </div>
        <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 228%; font-size: large;">&nbsp;"GET&nbsp;(SH)IT&nbsp;DONE"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
      </div>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
          <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-indigo-blue-front-602e953a28a9c_360x.jpg?v=1613665605" style="padding-bottom:50px ; "  width="100%" alt="">
        </div>
        <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 254.5%; font-size: large;">&nbsp;"DEVELOPER"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
      </div>
      <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
        <div class='demo-content'>
          <img src="https://cdn.shopify.com/s/files/1/0528/4148/0360/products/unisex-crew-neck-sweatshirt-white-front-602eb0ec82842_360x.jpg?v=1613672694" style="padding-bottom:50px ; "  width="100%" alt="">
        </div>
        <h5 class="hoverme" style="padding-top: 322px; color: rgb(5, 5, 5); position: absolute; left: 280%; font-size: large;">&nbsp;"PYTHON"&nbsp;&nbsp;Sweatshirt <br><U><p class="hoverme">&nbsp;&nbsp;from &#8377;499.00</p></U></h5>
      </div>
    </div>
  </div>
  <a routerLink="sweat-shirt" class="btn"><span>View all</span></a>
</div>
</div>



		
</section>
