<!-- Main Section -->
<section id="main-section">
    <!-- Moto-Animation -->
    <div id="animi">
      <p id="moto_an">&lt;/&gt;Hello Mastekee</p>
    </div>
  
    <!-- Slide-Show Animation -->
    <div class="wrapper">
      <div
        style="
          border-radius: 5px;
          background-image: url(https://images.unsplash.com/photo-1562813733-b31f71025d54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://images.unsplash.com/photo-1522199755839-a2bacb67c546?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://images.unsplash.com/photo-1585365341416-307e4fa22402?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://images.unsplash.com/photo-1550439062-609e1531270e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://cdn.shopify.com/s/files/1/0528/4148/0360/files/hero-desktop_ajgyfk_1944x.jpg?v=1617646465);
        "
      ></div>
    </div>
    <!-- Slide-Show Ends -->
  
   

    <section class="section-products">
		<div class="container">
				<div class="row justify-content-center text-center">
						<div class="col-md-8 col-lg-6">
								<div class="header">
										<h3>Featured Product</h3>
										<h2>Popular Products</h2>
								</div>
						</div>
				</div>
				<div class="row">
						<!-- Single Product -->
						<div class="container mt-100">
                            		

                            	
                               
<div class="row">
  <!-- Product template-->
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
 <div class="main-img"><img src="https://i.imgur.com/O0GMYuw.jpg" alt="Category"></div>
 <div class="thumblist"><img src="https://i.imgur.com/ILEU18M.jpg" alt="Category"><img src="https://i.imgur.com/2kePJmX.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Laptops</h4>
<p class="text-muted">Starting from $499</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">View Products</a>
</div>
</div>
</div>
<!-- end-->
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
 <div class="main-img"><img src="https://i.imgur.com/uRgdVY1.jpg" alt="Category"></div>
 <div class="thumblist"><img src="https://i.imgur.com/VwSKS7A.jpg" alt="Category"><img src="https://i.imgur.com/gTvZ2H5.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Mobiles</h4>
<p class="text-muted">Starting from $50</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">View Products</a>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
 <div class="main-img"><img src="https://i.imgur.com/0jO40CF.jpg" alt="Category"></div>
 <div class="thumblist"><img src="https://i.imgur.com/dWYAg41.jpg" alt="Category"><img src="https://i.imgur.com/5oQEZSC.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Accessories</h4>
<p class="text-muted">Starting from $9</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">View Products</a>
</div>
</div>
</div>
</div>
</div>
						
			</div>
		</div>
</section>
</section>
