<!-- Main Section -->
<section id="main-section">
    <!-- Moto-Animation -->
    <div id="animi">
      <p id="moto_an">&lt;/&gt;welcome to online shop</p>
    </div>
  
    <!-- Slide-Show Animation -->
    <div class="wrapper">
      <div
        style="
          border-radius: 5px;
          background-image: url(https://png.pngtree.com/back_origin_pic/03/65/01/3bc3dbe72018ecfe76f0699405309178.jpg);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://th.bing.com/th/id/R.7573ff1dac054a0d6c36040acf4171dd?rik=HEtOSVzsXB4v4Q&riu=http%3a%2f%2feskipaper.com%2fimages%2fshopping-wallpaper-hd-1.jpg&ehk=WrBp0nrOb1HFCZwxPlSkMIC1gks5TSMWpkLd2RElMQ4%3d&risl=&pid=ImgRaw&r=0);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://besthqwallpapers.com/img/original/122727/online-shopping-monochrome-online-business-concepts-online-store-concepts-laptop.jpg);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://wallpapercave.com/wp/wp7566498.jpg);
        "
      ></div>
      <div
        style="
          border-radius: 5px;
          background-image: url(https://wallpaperaccess.com/full/2484120.jpg);
        "
      ></div>
    </div>
    <!-- Slide-Show Ends -->
  
   

    <section class="section-products">
		<div class="container">
				<div class="row justify-content-center text-center">
						<div class="col-md-8 col-lg-6">
								<div class="header">
										<h3>Featured Product</h3>
										<h2>Popular Products</h2>
								</div>
						</div>
				</div>
				<div class="row">
						<!-- Single Product -->
						<div class="container mt-100">
                            		

                            	
                               
<div class="row">
  <!-- Product template-->
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
 <div class="main-img"><img src="https://i.imgur.com/O0GMYuw.jpg" alt="Category"></div>
 <div class="thumblist"><img src="https://i.imgur.com/ILEU18M.jpg" alt="Category"><img src="https://i.imgur.com/2kePJmX.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Laptops</h4>
<p class="text-muted">Starting from $499</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">View Products</a>
</div>
</div>
</div>
<!-- end-->
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
 <div class="main-img"><img src="https://i.imgur.com/uRgdVY1.jpg" alt="Category"></div>
 <div class="thumblist"><img src="https://i.imgur.com/VwSKS7A.jpg" alt="Category"><img src="https://i.imgur.com/gTvZ2H5.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Mobiles</h4>
<p class="text-muted">Starting from $50</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">View Products</a>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
<div class="inner">
 <div class="main-img"><img src="https://i.imgur.com/0jO40CF.jpg" alt="Category"></div>
 <div class="thumblist"><img src="https://i.imgur.com/dWYAg41.jpg" alt="Category"><img src="https://i.imgur.com/5oQEZSC.jpg" alt="Category"></div>
</div></a>
<div class="card-body text-center">
<h4 class="card-title">Accessories</h4>
<p class="text-muted">Starting from $9</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">View Products</a>
</div>
</div>
</div>
</div>
</div>
						
			</div>
		</div>
</section>
</section>
